<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frag.html :: headerfiles"></head>
<body>
    <nav th:replace="fragments/frag.html :: navi"></nav>
    <main>
        
        <!-- wyświetl model.addAttribute("message", message); -->
        <div class="message">
            <!-- TODO -->
            
        </div>
        <!-- zrót wypożycznie dla copyId -->

        
    </main>
    <footer th:replace="fragments/frag.html :: footer"></footer>
</body>
</html>
