<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frag.html :: headerfiles"></head>
<body>
    <nav th:replace="fragments/frag.html :: navi"></nav>
    <main>
        <h1>Wypożyczenia dla użytkownika: <span th:text="${member.email}"></span></h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data wypożyczenia</th>
                    <th>Data zwrotu</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="loan : ${loans}">
                    <td th:text="${loan.loanId}"></td>
                    <td th:text="${#dates.format(loan.loanDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(loan.dueDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${loan.loanStatus.name}"></td>
                </tr>
            </tbody>
        </table>
        
    </main>
    <footer th:replace="fragments/frag.html :: footer"></footer>
</body>
</html>
