<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frag.html :: headerfiles"></head>
<body>
    <nav th:replace="fragments/frag.html :: navi"></nav>


    <h1>Bilbio App Test</h1>
    
    <!-- Wyświetlenie informacji o zalogowanym użytkowniku -->
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <p>Zalogowany użytkownik: <span th:text="${#authentication.principal.username}"></span></p>
        <p>Imie: <span th:text="${#authentication.principal.firstName}"></span></p>
        <p>Nazwisko: <span th:text="${#authentication.principal.lastName}"></span></p>
        <!-- Dodaj kolejne pola w taki sam sposób -->


        
    </div>
    

    <footer th:replace="fragments/frag.html :: footer"></footer>
</body>
</html>